@using CoreDemo.Areas.Admin.Models
@model RoleViewModel
@{
    ViewData["Title"] = "NewRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Role Ekleme Sayfası</h4>
            <p class="card-description"> Yeni Role Ekleme Sayfası </p>
           
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Role Başlık</label>
                    <input type="text" name="name" class="form-control" />
                 
                </div>

                
            @*     <div asp-validation-summary="ModeOnly">

                </div> *@
             
                <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
            </form>
            
        </div>
    </div>
</div>


